.footer {
    background: linear-gradient( to right,#333, #222, black) ;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    display: inline;
    margin-right: 10px;
  }

  .social-links img {
    height: 5rem;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }

  .footer-section {
    margin: 5px;
  }
  
  .footer-section h3 {
    margin-bottom: 5px;
  }